@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Encode+Sans+SC:wght@100;300;900&display=swap');

.info-box{
    animation-name: fadeIn;
    animation-duration: 1.5s;
    margin-top: 5vh;
    h1{
        font-family: "Bungee";
        font-size: 25px;
        margin: 25px 17px 0;
        border-bottom: 3px solid #FF889A;
        height: 55px;
        width: 90%;
    }
    hr{
        border: 1.5px solid #FF889A;
        width: 20rem;
    }
    h4{
        font-family: "Encode Sans SC";
        font-weight: 300;
        margin: 0;
    }
}

.datos{
    width: 53vh;
    margin-top: 5vh;
    p{
        display: flex;
        font-size: 12px;
        justify-content: space-between;
    }
}

.about-me{
    font-family: 'Comfortaa';
    margin: 7vh 1vh;
    width: 50vh;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 100;}
}